:root{
    --squareHigh: #6541fd;
    --squareLow: #342cea;
    --circlehigh: #4a24cf;
    --circleLow: #4734f0;
    --reactionMain: #fff6f5;
    --reactionFont: #d27a7a;
    --memoryMain: #fffbf2;
    --memoryFont: #f1bf63;
    --verbalMain: #f2fafa;
    --verbalFont: #35a086;
    --visualMain: #f3f3fd;
    --visualFont: #505dad;

    --generalResultFont: #383d53;
    --generalLow: #989aa7;
    --white: #fff;

    --button: #303b59;
    
}
@font-face {
    font-family: Hanken;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
}
*, *::before, *::after{
    box-sizing: inherit;
}

/* Globals*/
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: Hanken;
    margin: 0;
}
p{
    margin: 0;
}
.grid{
    max-width: 50rem;
}
@media (min-width: 768px) {
    .grid{
        display: grid;
        grid-template-columns: 47% 53%;
        box-shadow: 10px 10px 10px 0px #f5f8ff;
        margin: 10% auto;
        border-radius: 2.2rem;
    }
}
/*Results section*/
.results{
    width: 100%;
    background-image: linear-gradient(to bottom, var(--squareHigh) 0%, var(--squareLow) 100%);
    padding: 3.1rem;
    border-radius: 0 0 2.2rem 2.2rem;
    text-align: center;
    color: var(--white);
}
@media (min-width: 768px) {
    .results{
        border-radius: 2.2rem;
    }
}
.results h2{
    opacity: 80%;
    font-size: 1.7rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 2rem;
}
.results__score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: linear-gradient(to bottom, var(--circlehigh) 0%, var(--circleLow) 100%);
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    
}
.results__score p{
    color: #ffffff90;
    font-size: 1.3rem;
    line-height: 1.2;
}
.results__score p span{
    font-size: 4.4rem;
    font-weight: bold;
    color: var(--white);
}
.results__grade{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: bold;
}
.results__note{
    font-size: 1.3rem;
    color: #ffffffc2;
}

/*Sumary section*/
.sumary{
    padding: 3rem;
    font-weight: bold;
}
.sumary h2{
    font-size: 1.9rem;
    margin: 0;
    margin-bottom: 1.4rem;
}
.sumary__attribute{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--button);
}
.sumary__attribute div{
    display: flex;
}
.sumary__attribute img{
    width: 1.6rem;
    margin-right: 1rem;
}

/*Customizing each container*/
.reaction{
    background-color: var(--reactionMain);
}
.reaction div{
    color: var(--reactionFont);
}
.memory{
    background-color: var(--memoryMain);
}
.memory div{
    color: var(--memoryFont);
}
.verbal{
    background-color: var(--verbalMain);
}
.verbal div{
    color: var(--verbalFont);
}
.visual{
    background-color: var(--visualMain);
}
.visual div{
    color: var(--visualFont);
}

/*Button*/
.button{
    width: 100%;
    padding: 1.1rem;
    margin-top: 1.2rem;
    border: none;
    border-radius: 9rem;
    background-color: var(--button);
    color: var(--white);
}
.button:hover{
    background-image: linear-gradient(to bottom, var(--squareHigh) 0%, var(--squareLow) 100%);
}

